*{
    padding: 0px;
    margin: 0px;
}
img{
    width: 100%;
    height: 100%;
}
button{
    border-radius: 20px;
    background-color: chocolate;
    color: antiquewhite;
    border: none;
    padding: 10px 15px;
}
.gray{
    background-color: rgb(235, 235, 237);
}
.logo{
    color: white;
    font-size: 24;
    background-color: black;
    border-radius: 50%;
    padding: 10px 10px;
    text-align: center;
}
.header{
    display: flex;
    margin-left: 3%;
    justify-content: space-around;
}
.header li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.creative{
    display: flex;
    justify-content: space-around;
}
.contact{
    padding-top: 8%;
}
.contact p{
    color: chocolate;
    padding: 9px;
}
.contact h1{
    font-size: 50px;
    padding: 7px;
}
.btn{
    display: flex;
    justify-content: center;
}
.us{
    background-color:rgb(235, 235, 237);
    color: black;
    border-style: solid;
    border-color: black;
    margin-left: 7px;
}
.concept{
    text-align: center;
    margin: 3% 0;
}
.space{
    margin: 0 8%;
}
.galleryone{
    display: flex;
    width: 99%;
    justify-content:space-around;
    /* margin-bottom: 2%; */
}
.cone{
    width: 46%;   
}
.bulb{
    height: 550px;
    object-fit: cover;
}
.banana{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.effigy{
    height: 350px;
    object-fit: cover;
}
.bananabulb{
    height: 150px;  
    padding-top: 50px;  
     object-fit: cover;
}
.fork{
    width: 18%;   
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.earpiece{
    height: 150px;
    object-fit: cover;
    padding-bottom: 50px;
}
.burger{
    height: 350px;
    object-fit: cover;
}
.allbutton{
    text-align: center;
    padding: 2% 0;
}
.Whoweare{
    display: flex;
    width: 99%;
    justify-content: center;
    padding: 3% 0;
}
.conceptartist{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 48%;
}
.text{
    width: 99%;    
    padding-bottom: 87px;
}
.text p{
    padding: 13px; 
}
.text button{
    margin: 9px;
}
.artist{
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.artistpics{
    width: 45%;
    text-align: left;
}
.artistpics p{
    color: chocolate;
}
.artistone{    
    object-fit: cover;
    height: 230px;
}
.artisttwo{     
    object-fit: cover;
    height: 230px;   
}
.sittedpics{
    width: 48%; 
}
.sitting{
    object-fit: cover;
    height: 550px;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}
.digital{
    width: 10px;
}
.mid li{
    list-style: none;
    padding: 2%;
}
.right{
    border-bottom: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
.hi{
    display: flex;
    justify-content: space-between;
}
.hi input{
    border:none;
    color:  rgba(81, 81, 94, 0.959);
}
.hi button{
    background-color:white;
    color: rgba(81, 81, 94, 0.959);
}
span strong{
    color: white;
    font-size: 24;
    background-color: black;
    border-radius: 50%;
    padding: 10px 10px;
    text-align: center;
}
.copyrite{
    padding: 10px 35%;
    color: rgba(81, 81, 94, 0.959);
}
